<h1>About Me</h1>

<div class="row">
    <div class="col">
        <img class="profile-pic" src="/images/selfpotrait.JPG" alt="Sainimere Sema">
    </div>
    <div class="col">
        I love traveling the world, learning new languages, cooking, going to the gym, and finding new music. On my free time, I enjoy cleaning my environment and sleeping. The top 3 places that I would travel to would be Jamaica, South Korea, and Greece.
</div>